@import "../global";

button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.65rem;
  height: 50px;
  border-radius: 160px;
  padding-inline: 1.3rem 0.34rem;
  background-color: $clr-primary-500;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  
  .btn-icon {
    width: 39px;
    height: 39px;
    transition: transform ease-in-out 0.2s;
    svg {
      overflow: visible;
    }
  }
}

button:hover,
button:focus {
  transform: translateY(1px) scale(0.99);
  .btn-icon {
    transform: rotate(-40deg);
  }
}

.btn-primary {
  background-color: $clr-primary-400;
  color: $clr-neutral-900;
  
  svg #circle {
    fill: $clr-neutral-900;
  }
}

.btn-secondary {
  background-color: $clr-neutral-700;
  border: 2px solid $clr-neutral-700;
  color: $clr-neutral-800;

  svg #circle {
    fill: $clr-neutral-800;
  }
}

.btn-tertiary {
  background-color: transparent;
}

.btn-white {
  border: 2px solid $clr-neutral-100;
  color: $clr-neutral-700;

  svg #circle {
    fill: $clr-neutral-700;
  }
}

.btn-dark {
  border: 2px solid $clr-neutral-900;
  color: $clr-neutral-900;

  svg #circle {
    fill: $clr-neutral-900;
  }
}