@import "../global";

button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.65rem;
  height: 55px;
  border-radius: 160px;
  padding-block: 0.45rem;
  padding-inline: 1.5rem 0.5rem;
  background-color: $clr-primary-500;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  svg {
    transition: transform ease-in-out 0.3s;
  }
}
    
button:hover,
button:focus {
  opacity: 0.9;

  svg {
    transform: rotate(-35deg);
  }
}

.btn-primary {
  background-color: $clr-primary-400;
}

.btn-secondary {
  background-color: transparent;
}

.btn-car {
  border: 2px solid $clr-accent-car;
  color: $clr-accent-car;

  svg #circle {
    fill: $clr-accent-car;
  }
}

.btn-coffee {
  border: 2px solid $clr-accent-coffee;
  color: $clr-accent-coffee;

  svg #circle {
    fill: $clr-accent-coffee;
  }
}

.btn-rs {
  border: 2px solid $clr-accent-rs;
  color: $clr-accent-rs;
  
  svg #circle {
    fill: $clr-accent-rs;
  }
}
