@import "../resets";
@import "../global";

.export-item {
	overflow: hidden;
	padding: 2rem;

	.circle {
		position: absolute;
		left: -10rem;
		bottom: -10rem;
		aspect-ratio: 1 !important;
		clip-path: circle(5%);
		transition: clip-path .5s ease;
		width: 420px;
		border-radius: 50%;
		background-color: $clr-primary-300;

		.clip-wrap {
			position: absolute;
			left: 14.4rem;
			bottom: 11rem;
			display: flex;
			align-items: center;
			gap: 7px;
			width: 250px;
			z-index: 2;
			transition: all .5s ease;
		}


	}

	@media (min-width: 768px) {
		&:hover .circle {
			clip-path: circle(100%);

			.clip-wrap {
				left: 12rem;
				bottom: 11.4rem;
			}
		}
	}

	@media (max-width: 768px) {
		.circle {
			width: 330px;
			clip-path: circle(100%);
			left: -9rem;
			bottom: -12rem;

			.clip-wrap {
				left: 10rem;
				bottom: 13rem;
			}
		}
	}


}

