---
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/pages/exports.scss";

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob("./*.md");
  // const formattedPosts = formatBlogPosts(posts);
  return paginate(posts, { pageSize: 3 });
}
---

<Layout title="Export Items: Explore our huge collection of export items">
  <Header />

  <section class="hero-section">
    <div class="container wrapper">

    </div>
  </section>

  <Footer />
</Layout>
