@import "../global";

header .header-wrapper {
  background: transparent;
}

.fs-secondary-header {
  font-size: clamp(2rem, 1.1284403669724772rem + 1.651376146788991vw, 2.625rem);
}

.about-hero-section {
  background-color: $clr-neutral-900;

  .wrapper {
    .hero-header {
      padding-block: 8rem;
      min-height: 75vh;
      display: flex;
      justify-content: space-between;
      color: #F7F7F7;
      font-size: 18px;

      .headline {
        h1 {
          font-size: clamp(2rem, 0.8134328358208955rem + 2.9850746268656714vw, 3.5rem);
          max-width: 600px;
          line-height: 105%;
        }

        .section-label {
          text-align: left;
          margin-bottom: $size-400;
          color: rgba(252, 252, 252, 0.72);
        }
      }

      .subheader {
        max-width: 500px;
        height: fit-content;
        line-height: 165%;
        padding-inline: 1rem;
        border-left: 3px solid white;
        margin: $size-600 $size-500;

        .subheader-title {
          margin-bottom: $size-400;
        }
      }
    }

    @media (max-width: 958px) {
      .hero-header {
        flex-direction: column;

        .subheader,
        .headline h1 {
          max-width: 100%;
          margin-inline: 0;
        }

        // 895px
        .subheader {
          font-size: 1rem;
          margin-block: $size-500 $size-200;
        }
      }
    }

    @media (max-width: 959px) {
      .hero-header {
        padding-block: 7rem 14rem;
      }
    }
  }
}

.about-img-section {
  margin-block: -10rem;

  .about-img-box {
    position: relative;
    img {
      width: 100%;
    }

    .about-pactzion {
      font-size: 22px;
      line-height: 140%;
      max-width: 47%;
      position: absolute;
      top: 68%;
      left: 1rem;

      p {
        margin-bottom: 1rem;
        font-size: clamp(1rem, 0.29999999999999993rem + 1.3333333333333335vw, 1.5rem);
      }

    }

    @media (max-width: 1225px) {
      .about-pactzion {
        line-height: 110%;

        p {
          margin-bottom: .85rem;
        }
      }
    }

    @media (max-width: 1025px) {
      .about-pactzion {
        line-height: 100%;
        top: 66%;

        p {
          margin-bottom: .55rem;
        }
      }
    }

    @media (max-width: 895px) {
      .about-pactzion {
        line-height: 100%;
        top: 94%;
        left: 10%;
        width: 800px;
        max-width: 88%;

        p {
          margin-bottom: 1rem;
          line-height: 135%;
        }
      }
    }


  }
}
.mission-vision-section {
  height: fit-content;
  background-image: url("../../assets/digital-world.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-block: 18rem 3rem;

  .wrapper {
    height: 100%;
    padding-block: $size-900;

    .boxes-wrapper {
      display: flex;
      justify-content: space-evenly;

      .box {
        position: relative;
        background-image: url("../../assets/container-shape.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        color: white;
        width: min(500px, 45vw);
        padding: 1rem 2rem;
        height: 388px;

        h2 {
          margin-block: 1rem 2.9rem;
          font-size: 45px;
        }

        p {
          line-height: 160%;
          color: rgba(255, 255, 255, 0.95);
          font-size: 22px;
        }
      }

      .box::after {
        content: "";
        position: absolute;
        top: .5rem;
        right: 1.5rem;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .mission-box::after {
        background-image: url("../../assets/icons/mission-icon.svg");
      }

      .vision-box::after {
        background-image: url("../../assets/icons/focus-icon.svg");
      }
    }

    @media (max-width: 1020px) {
      .boxes-wrapper {
        flex-direction: column;
        gap: 3rem;
        align-items: center;

        .box {
          width: min(500px, 95vw);
        }
      }
    }

    @media (max-width: 490px) {
      .boxes-wrapper {
        .box {
          padding: .8rem 1rem;

          h2 {
            font-size: 2.3rem;
            margin-block: 0 1rem;
          }

          p {
            font-size: 18px;
          }
        }

        .box::after {
          width: 40px;
          height: 40px;
        }
      }
    }

    @media (max-width: 425px) {
      .boxes-wrapper .box {
        height: 320px;
      }
    }

    @media (max-width: 390px) {
      .boxes-wrapper .box {
        height: 300px;
      }
    }

  }
}

@media (max-width: 520px) {
  .mission-vision-section {
    height: fit-content;
    background-image: url("../../assets/digital-world-mobile.webp");
    margin-top: 23rem;
  }
}


.values-section {
  margin-block-start: $size-800;

  .wrapper {
    .values-flex {
      padding-block-start: 1.5rem;
      display: flex;
      align-items: flex-start;
      gap: 2rem;

      .img-wrap {
        max-width: 620px;
        flex-shrink: 1;
        // flex: 1 1 0%;
        flex: 1;
      }

      .core-values {
        margin-bottom: $size-500;
        flex-shrink: 3;
        flex: 1 1 0%;

        .value {
          width: 100%;
          border-bottom: 1px solid #2E383F;
          padding: 1.25rem 1rem;
          cursor: pointer;
          transition: all ease-in-out .3s;

          .value-title {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: clamp(1.3rem, 3vw, 1.5rem);
            font-weight: 600;
            margin-bottom: .75rem;
          }

          .value-description {
            font-size: 18px;
            line-height: 165%;
          }
        }

        .value:hover {
          background-color: #121314;
          color: rgba(255, 255, 255, 0.93);

          &>.value-title path {
            fill: #fff;
          }
        }
      }

    }

    .structure-diagram {
      margin: $size-900 auto;
      background-color: $clr-primary-300;
      border-radius: 30px;
      padding: 2rem;
    }

    @media (max-width: 1100px) {
      .values-flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

      .img-wrap {
        width: 100%;

        img {
          width: inherit;
        }
      }

      .structure-diagram {
        margin: $size-700 auto;
        border-radius: 15px;
        min-height: 350px;
        display: flex;

        picture {
          display: flex;

          img {
            margin-block: auto;
          }
        }
      }
    }
  }
}

.board-members-section {
  display: none;
  .wrapper {
    h2 {
      margin-bottom: $size-600;
    }

    .board-members {
      margin-block-end: $size-800;

      .member {
        position: relative;
        width: 300px;
        height: 400px;
        border: 2px solid black;
        padding: .8rem 1rem;
        border-radius: 1rem;
        background-image: url("../../assets/board-members/john.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .member-content {
          position: absolute;
          bottom: 1rem;
          color: #fff;

          .member-name {
            font-size: 26px;
            margin-bottom: .4rem;
          }

          .member-title {
            font-size: 18px;
            opacity: .85;
          }
        }
      }

      .slider-nav {
        margin-top: $size-500;
        display: flex;
        gap: .5rem;
        justify-content: flex-end;
        cursor: pointer;
      }
    }
  }
}

.about-cta-section {
  margin-block-end: $size-800;

  .wrapper .cta-wrap-box {
    overflow: hidden;
    position: relative;
    min-height: 430px;
    padding: 2rem .5rem;
    text-align: center;
    background-color: $clr-neutral-900;
    color: white;
    border-radius: 1.5rem;
    display: flex;

    .about-cta-content {
      max-width: 1000px;
      margin: auto;

      .section-label {
        color: rgba(255, 255, 255, 0.72);
      }

      h2 {
        margin-block: 1.9rem 2.2rem;
        line-height: 118%
      }

      .cta-btn {
        margin-inline: auto;
        position: relative;
        z-index: 1;
      }
    }

    .blob-1 {
      position: absolute;
      bottom: -100%;
      right: -30%;
    }

    .blob-2 {
      position: absolute;
      top: -100%;
      left: -30%;
      transform: rotate(-60deg);
    }
  }

  @media (max-width: 610px) {
    .wrapper .cta-wrap-box {
      padding: 1rem 1.5rem;
      min-height: 360px;

      .about-cta-content {
        h2 {
          font-size: 1.6rem;
        }
      }

      .blob-1 {
        bottom: -40%;
        right: -30%;
        opacity: .75;
      }

      .blob-2 {
        top: -40%;
        left: -30%;
        transform: rotate(-60deg);
        opacity: .75;
      }
    }

  }


}