@import "../global";

main {
  font-family: 'helvetica';
}

header .header-wrapper {
  background: transparent;

  .logo {
    path {
      fill: #FFF;
    }
  }
}

.fs-tertiary-header {
  font-size: clamp(1.375rem, 1.0034403669724772rem + 1.651376146788991vw, 2rem);
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::selection {
  background-color: #ffffff;
  color: $clr-neutral-900;
}

.changan-section {
  min-height: 100vh;
  background-image: url("../../assets/changan-bg-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    padding-block: 5.5rem 2.2rem;

    .changan-big {
      user-select: none;
      text-align: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.13) 58.36%, rgba(255, 255, 255, 0.00) 95.27%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: -6%;
      font-size: clamp(2rem, 0.55412844036697253rem + 7.98165137614679vw, 7rem);
    }

    .changan-models {
      position: relative;

      .swiper-slide {
        width: auto;
        user-select: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 230px;
        height: 363px;
        z-index: 2;
        background: linear-gradient(270deg, rgba(5, 5, 5, 0.00) 0%, rgba(5, 5, 5, 0.32) 30.4%, rgba(5, 5, 5, 0.59) 42.4%, rgba(5, 5, 5, 0.82) 70.9%, #050505 100%);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 230px;
        height: 400px;
        z-index: 2;
        background: linear-gradient(90deg, rgba(5, 5, 5, 0.00) 0%, rgba(5, 5, 5, 0.32) 30.4%, rgba(5, 5, 5, 0.59) 42.4%, rgba(5, 5, 5, 0.82) 70.9%, #050505 100%);
      }

      .nav-btn {
        position: absolute;
        top: 45%;
        z-index: 3;
        cursor: pointer;
        width: 39px;
        height: 42px;

        &.swiper-button-prev {
          left: 30px;
        }

        &.swiper-button-next {
          right: 30px;
          transform: rotate(180deg);
        }

        svg .nav-fill {
          transition: .1s all ease-in;
        }

        &:hover {
          svg {
            .nav-fill {
              fill-opacity: 0.2;
            }
          }
        }
      }

      @media (max-width: 858px) {
        .nav-btn {
          top: 50%;
        }
      }

      @media (max-width: 550px) {
        .nav-btn {
          top: 37%;

          &.swiper-button-prev {
            left: 15px;
          }

          &.swiper-button-next {
            right: 15px;
          }
        }
      }

      .model {
        width: clamp(320px, 90vw, 818px);

        .hero-header {
          text-align: center;

          // GSAP initial values
          opacity: 0;
          transform: translateY(-1rem);
          filter: blur(3px);

          h2 {
            font-size: clamp(1.25rem, 1.078358208955224rem + 0.7462686567164178vw, 1.75rem);
            color: #fff;
            font-family: $ff-header;
            margin-bottom: $size-500;
            letter-spacing: 4px;
          }

          .slide-btns {
            display: flex;
            width: fit-content;
            margin-inline: auto;
            gap: 1.3rem;

            button {
              border-radius: 0;
              padding: .9rem 1.2rem;
              color: #000;
              background: #FFF;
              text-transform: uppercase;
              letter-spacing: .75px;
              font-size: 1rem;
              font-weight: 500;

              &.technical-specs {
                background: #ffffff00;
                color: #FFF;
                border: 1px solid #FFF;
                transition: background ease-in-out .1s;

                &:hover {
                  background: #ffffff20;
                }
              }
            }
          }
        }

        .color-variants {
          max-width: 670px;

          .swiper-slide {
            height: fit-content;
            width: auto !important;
            opacity: 1 !important;
            transition: opacity .2s ease-in;
          }

          .swiper-slide:not(.swiper-slide-active) {
            opacity: 0 !important;
          }

          .swiper-pagination {
            position: unset;
            margin-block-start: 2rem;

            .swiper-pagination-bullet {
              width: 28px;
              height: 28px;
              opacity: .85;
              border: #e8e8e874 solid 1px;
              margin-right: 10px;

              &.swiper-pagination-bullet-active {
                opacity: 1;
                border: rgba(255, 255, 255, 1) solid 3.5px;
              }
            }
          }

          &#deepal-s7 .swiper-pagination-bullet {
            &:nth-child(1) {
              background: rgb(35, 128, 162);
              background: linear-gradient(180deg, rgba(35, 128, 162, 1) 14%, rgba(24, 63, 78, 0.8828781512605042) 100%);
            }

            &:nth-child(2) {
              background: rgb(230, 119, 39);
              background: linear-gradient(180deg, rgba(230, 119, 39, 1) 14%, rgba(106, 30, 7, 1) 100%);
            }

            &:nth-child(3) {
              background: rgb(39, 230, 119);
              background: linear-gradient(180deg, rgba(39, 230, 119, 1) 14%, rgba(7, 106, 48, 1) 100%);
            }
          }

          &#deepal-sl3 .swiper-pagination-bullet {
            &:nth-child(1) {
              background: rgb(184, 219, 210);
              background: linear-gradient(180deg, rgba(184, 219, 210, 1) 14%, rgba(84, 109, 103, 0.8800770308123249) 100%);
            }

            &:nth-child(2) {
              background: rgb(237, 237, 237);
              background: linear-gradient(180deg, rgba(237, 237, 237, 1) 14%, rgba(153, 153, 153, 0.8800770308123249) 100%);
            }

            &:nth-child(3) {
              background: rgb(199, 184, 221);
              background: linear-gradient(180deg, rgba(199, 184, 221, 1) 14%, rgba(113, 102, 130, 1) 100%);
            }
          }

          &#estar .swiper-pagination-bullet {
            &:nth-child(1) {
              background: rgb(237, 237, 237);
              background: linear-gradient(180deg, rgba(237, 237, 237, 1) 14%, rgba(153, 153, 153, 0.8800770308123249) 100%);
            }

            &:nth-child(2) {
              background: rgb(203, 226, 184);
              background: linear-gradient(180deg, rgba(203, 226, 184, 1) 14%, rgba(130, 142, 120, 1) 100%);
            }

            &:nth-child(3) {
              background: rgb(170, 196, 218);
              background: linear-gradient(180deg, rgba(170, 196, 218, 1) 14%, rgba(125, 140, 152, 1) 100%);
            }
          }

          &#eado .swiper-pagination-bullet {
            &:nth-child(1) {
              background: rgb(237, 237, 237);
              background: linear-gradient(180deg, rgba(237, 237, 237, 1) 14%, rgba(153, 153, 153, 0.8800770308123249) 100%);
            }

            &:nth-child(2) {
              background: rgb(170, 196, 218);
              background: linear-gradient(180deg, rgba(170, 196, 218, 1) 14%, rgba(125, 140, 152, 1) 100%);
            }

            &:nth-child(3) {
              background: rgb(203, 226, 184);
              background: linear-gradient(180deg, rgba(203, 226, 184, 1) 14%, rgba(130, 142, 120, 1) 100%);
            }
          }
        }

        .car-image {
          width: clamp(340px, 95vw, 620px);

          img {
            margin: 2.5rem auto 0;
            width: clamp(340px, 95vw, 670px);
          }

        }

        .car-specs {
          // GSAP initial values
          opacity: 0;
          transform: translateY(1rem);
          filter: blur(3px);

          display: flex;
          max-width: 1200px;
          justify-content: space-between;
          margin-inline: auto;
          gap: $size-600;
          margin-top: 2.2rem;

          .spec {
            padding: 12px 16px;
            min-width: 250px;
            display: flex;
            align-items: center;
            gap: $size-300;
            background: transparent;
            border: 1.5px solid;
            border-radius: 10px;
            border-image: linear-gradient(45deg, rgba(206, 205, 206, 0.156), rgba(206, 205, 206, 0.764), rgba(206, 205, 206, 0.693), rgba(225, 224, 222, 0.277)) 1;

            img {
              width: 35px;
              height: 35px;
            }

            .spec-content {
              color: #FFF;

              .spec-title {
                margin-bottom: $size-100;
                font-size: 14px;
                opacity: .5;
              }

              .spec-value {
                font-size: 1.5rem;

              }
            }
          }


        }

        @media (max-width: 858px) {
          .car-specs {
            flex-direction: column;
            align-items: center;

            .spec {
              min-width: none;
              justify-content: center;
              width: clamp(300px, 80vw, 400px);
            }
          }
        }

        @media (max-width: 450px) {
          .car-specs .spec {
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: clamp(160px, 40vw, 300px);
            text-align: center;
          }
        }
      }

    }

    @media (max-width: 1325px) {
      .changan-models {

        &::after,
        &::before {
          display: none;
        }
      }
    }

  }

  @media (max-width: 830px) {
    .wrapper {
      padding-block-start: 7rem;
    }

  }
}

.modals-wrapper {
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  .modal {
    display: none;
    width: clamp(350px, 80vw, 1000px);
    height: clamp(600px, 90vh, 800px);
    overflow-y: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    padding: 3rem;
    border-radius: 20px;
    background-color: #fff;
    margin-inline: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    span {
      position: absolute;
      top: .5rem;
      right: 1rem;
      cursor: pointer;
      font-size: 3rem;
      color: #000;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1.25rem 0;

      th,
      td {
        padding: 0.75rem 1rem;
        border: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #fafafa;
      }
    }
  }

  @media (max-width: 860px) {
    .modal {
      padding: 3rem 1rem;
    }
  }
}