@import "../global";

header .header-wrapper {
  background: transparent;
  background: #0D171F;

  backdrop-filter: blur(20.899999618530273px);
}

.hero-section {
  background: linear-gradient(98deg, #F8D196 0%, rgba(248, 209, 150, 0.63) 19.05%, rgba(248, 209, 150, 0.49) 40.85%, rgba(248, 209, 150, 0.40) 57.75%, rgba(248, 209, 150, 0.20) 98.17%);

  .wrapper {
    padding: 10rem 2rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .hero-content {
      .section-label {
        text-align: left;
        margin-bottom: $size-400;
      }

      h1 {
        font-size: clamp(2rem, 0.8134328358208955rem + 2.9850746268656714vw, 3.5rem);
        max-width: 700px;
        line-height: 105%;
      }
    }

    .hero-contact-info {

      .hero-contact {
        margin-bottom: $size-400;
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 18px;
      }
    }
  }
}

.contact-page-form-section {
  margin-block: $size-900;

  .wrapper {
    form {
      display: flex;
      gap: $size-700;

      .items-checkbox {
        width: 100%;

        .item-group {
          border-radius: 0.6875rem;
          background: rgba(231, 234, 238, 0.73);
          min-height: 180px;
          margin-bottom: $size-500;
          padding: 1.4rem 1.1rem;

          .item-name {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 24px;
            margin-bottom: $size-600;
          }

          .checkboxes {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
          }
        }
      }

      .text-inputs {
        width: 100%;

        &>* {
          margin-bottom: $size-400;
        }

        .contact-field {
          display: flex;
          flex-direction: column;
          gap: .7rem;

          input,
          textarea {
            padding-block: 15px 8px;
            border: none;
            border-radius: 5px;
            border-bottom: 1px solid $clr-primary-400;
            padding-inline: 12px;
            background: #fdeed9;;
            outline: none;
            resize: vertical;
            max-height: 280px;
            font-size: 20px;
            opacity: .8;
            transition: border-left linear .1s;
          }

          input:focus,
          textarea:focus {
            border-left: 5px solid $clr-primary-400;
          }

          label {
            opacity: .72;
          }

        }

        button.submit {
          margin-block: $size-600;
        }

      }

    }

  }
}