@import "../global";

.hero-section {
  // min-height: 100vh;
  max-height: 830px;
  background-image: url("../../assets/hero-bg-dk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $clr-neutral-100;
  display: block;

  .wrapper {
    position: relative;
    padding-block: 6rem 2rem;
    text-align: center;
    width: 100%;
    height: 100%;

    .hero-label {
      margin-inline: auto;
      margin-block: 2rem;
      width: fit-content;
      display: flex;
      gap: $size-400;
      color: $clr-neutral-700;
      padding: .57rem 1.19rem;
      border-radius: 41px;
      backdrop-filter: blur(5.8px);
      background: rgba(34, 14, 0, 0.721);
    }

    .car-text-box {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: clamp(400px, 40vh, 600px);
      overflow-y: visible;
      overflow-x: clip;

      h1 {
        position: relative;
        bottom: 53%;
        background: linear-gradient(182deg, #F9FAFC 52.09%, #9F9F9F 98.31%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h1::after {
        content: "CHANGAN";
        position: absolute;
        inset: 0;
        z-index: 2;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        -webkit-text-stroke: 1px #d6d8d9;
        text-stroke: 1px #d6d8d9;
        text-shadow: none;
        pointer-events: none
      }

      .img-wrapper {
        position: absolute;
        height: auto;
        margin-inline: auto;
        width: 100%;


        &.swiper-wrapper {
          align-items: flex-end;

        }

        .swiper-slide {
          display: flex;
          justify-content: center;
          // margin-top: 3rem;

          img {
            position: relative;
            transform: translateY(15%);

            &.d-s7,
            &.d-eado {
              width: clamp(21.875rem, 15.063073394495412rem + 30.275229357798167vw, 42.5rem);
            }

            &.d-estar {
              width: clamp(21.875rem, 15.063073394495412rem + 35.275229357798167vw, 50rem);
            }

            &.d-sl3 {
              width: clamp(21.875rem, 20.063073394495412rem + 40.275229357798167vw, 70rem);
            }
          }
        }
      }
    }

    .hero-socials {
      position: absolute;
      top: 50%;
      transform: translate(-7px, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-400;

      .line-arrow {
        width: 2px;
        height: 77px;
      }

      .social-links {
        flex-direction: column;
        display: flex;
        gap: $size-400;
      }
    }

    .bottom-box {
      display: flex;
      justify-content: space-between;
      align-items: end;
      text-align: left;

      .hero-cta {
        max-width: 450px;
        padding-left: 2rem;
        border-left-width: 3px;
        border-left-style: solid;
        border-left-image: linear-gradient(270deg, #AFAFAF 0%, #FFF 100%) 1;
        z-index: 2;

        h2 {
          margin-bottom: 1rem;
        }
      }

      .pactzion-info {
        color: $clr-neutral-300;
        max-width: 350px;
        padding: 0.875rem 0.25rem 0.875rem 1rem;
        border-radius: 0.75rem;
        background: rgba(34, 14, 0, 0.25);
        backdrop-filter: blur(28.700000762939453px);
        height: fit-content;
      }
    }

    @media screen and (max-width: 1215px) {
      .car-text-box {
        h1 {
          bottom: 49%;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .car-text-box {
        h1 {
          bottom: 45%;
        }
      }
    }

    @media screen and (max-width: 800px) {
      .car-text-box {
        h1 {
          bottom: 42%;
        }
      }
    }

    @media screen and (max-width: 550px) {
      .car-text-box {
        h1 {
          bottom: 32%;
        }
      }
    }
  }

}

@media screen and (max-width: 650px) {
  .hero-section {
    background-image: url("../../assets/hero-bg-mb.png");

    .wrapper {
      margin-block: 0;
      padding-bottom: 4rem;
      padding-inline: 1rem;

      .hero-label {
        position: relative;
        top: 7.5rem;
      }

      .hero-socials {
        display: none;
      }

      .car-text-box {
        position: relative;
        bottom: 4rem;

        h1::after {
          -webkit-text-stroke: .5px #ebebeb;
          text-stroke: .5px #ebebeb;
        }
      }

      .bottom-box {
        margin-top: -1rem;
        flex-direction: column;
        gap: 2rem;
        align-items: start;

        .hero-cta {
          padding-left: 1rem;
        }
      }
    }
  }
}


.about-section {
  .wrapper {
    padding-block: $size-900;

    h2 {
      margin-block: $size-600 $size-800;
    }

    .about-box {
      width: 100%;
      display: flex;
      gap: $size-600;

      .card {
        padding: $size-600;
        border-radius: 20px;

        h3 {
          margin-block: $size-400 $size-400;
        }
      }

      .about-card {
        width: 65%;
        background-color: $clr-neutral-800;
        display: flex;
        color: white;
        padding-right: 0;
        justify-content: space-between;
        gap: $size-300;

        p {
          color: #DCDCDC;
          line-height: 135%;
        }

        .abt-left {
          max-width: 380px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .missions-wrapper {
            .missions {
              .mission {
                display: flex;
                gap: .75rem;
                margin-bottom: .5rem;
                line-height: normal;
                align-items: center;

                p {
                  color: $clr-primary-300;
                  opacity: .87;
                }

                .mission-icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .btn-primary {
              margin-top: 1.5rem;
            }
          }
        }

        .abt-right {
          height: 100%;
          width: 45%;

          img {
            border-radius: 0.9375rem 0rem 0rem 0.9375rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

      }

      .contact-card {
        background-image: url("../../assets/light-abstract-bg.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contact-bottom-wrapper {
          .btn-tertiary {
            margin-top: 1.5rem;
          }
        }
      }
    }

    @media screen and (max-width: 1125px) {
      .about-box {
        flex-direction: column;

        .card {
          width: 100%;

        }

        .about-card {
          height: 540px;

          .abt-right {
            width: 50%;
          }
        }

      }
    }

    @media screen and (max-width: 775px) {
      .about-box {
        .card {
          padding: 1.5rem 1.25rem;
        }

        .about-card {
          position: relative;
          height: 700px;
          flex-direction: column-reverse;
          gap: $size-400;

          .abt-left {
            .about-text-wrapper svg {
              position: absolute;
              top: 2.5rem;
              left: 2rem;
            }

            max-width: 100%;
            height: 60%;
          }

          .abt-right {
            width: 100%;
            height: 40%;

            img {
              border-radius: 0.9375rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 440px) {
      .about-box .about-card {
        height: 760px;

        .abt-left {
          .missions {
            font-size: $fs-200;
          }
        }
      }
    }

  }

}


.what-we-do-section {
  background-image: url("../../assets/orange-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .wrapper {
    padding-block: $size-900;
    color: $clr-neutral-100;

    h2 {
      margin-block-start: $size-600;
      line-height: 135%;
      border-right: solid 3px white;
    }
  }
}

.business-portfolio.import-section {
  .wrapper {
    padding-block: $size-900;

    h2 {
      margin-block: $size-600 $size-800;
    }

    .swiper {
      --swiper-theme-color: #fff;

      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }

    .swiper:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .portfolio-card {
      padding: 4.675rem 2.1875rem;
      border-radius: 20px;
      position: relative;
      max-width: 1200px;

      .card-img {
        z-index: -1;
        position: absolute;
        bottom: 2.678rem;
        right: 2.1875rem;
      }

      &.card-car {
        background: conic-gradient(from 180deg at 50% 50%, #9B2100 0deg, #E54D24 360deg);
      }

      &.card-rs {
        background: conic-gradient(from 180deg at 50% 50%, #82A9CB 0deg, #3179BE 360deg);

        .card-img {
          bottom: 0;
          right: 0;
        }
      }

      .business-info {
        max-width: 400px;
        color: $clr-neutral-100;

        p {
          margin-block: $size-200 $size-600;
        }
      }
    }

    @media screen and (min-width: 1000px) {
      .portfolio-card {
        height: 600px;
      }
    }

    @media screen and (max-width: 1000px) {
      .portfolio-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 670px;

        &.card-car .card-img {
          margin-inline-start: auto;
        }

        .card-img {
          position: static;
        }

        &.card-rs {
          justify-content: space-between;
          padding-right: 0;
          padding-bottom: 0;
          overflow: hidden;

          .card-img {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 680px) {
      .portfolio-card {
        height: 580px;
        gap: 3rem;
        justify-content: start;
      }
    }

    @media screen and (max-width: 540px) {
      .portfolio-card {
        height: 500px;
        padding: 2.5rem .585rem;

        .business-info {
          padding-inline: 1rem;

          p {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    @media screen and (max-width: 450px) {
      .portfolio-card {
        height: 450px;
        padding: 2.5rem .585rem;

        .business-info {
          padding-inline: 1rem;

          p {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

.business-portfolio.export-section {
  .wrapper {
    padding-block-end: $size-900;

    h2 {
      margin-block: $size-600 $size-800;
    }

    .export-items-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 350px);
      gap: 20px;

      &>*:nth-child(-n+3) {
        grid-column: span 2;
      }

      &>*:nth-child(n+4) {
        grid-column: span 3;
      }

      .export-item {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        position: relative;
      }

    }

    @media (max-width: 1000px) {
      .export-items-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 280px);
        gap: 20px;

        &>*:nth-child(-n+5) {
          grid-column: span 1;
        }

        &>*:nth-last-child(1) {
          grid-column: 1 / -1;
        }
      }

    }

    @media (max-width: 600px) {
      .export-items-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 250px);
      }
    }
  }
}

.partners-section {
  .wrapper {
    border-radius: 20px;
    padding: $size-800 $size-600;
    background-color: $clr-primary-300;
    overflow: hidden;
    position: relative;

    h3 {
      margin-block: $size-600 $size-700;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100px;
      height: 40%;
      z-index: 2;
    }

    &::after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $clr-primary-300);
    }

    &::before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), $clr-primary-300);
    }

    .partners-logo {
      display: flex;
      width: 100%;


      .logos-slider-wrapper {
        display: flex;
        align-items: center;
        animation: 35s slide infinite linear;

        .company-logo {
          margin: 0 50px;
          width: 80px;
          height: fit-content;
        }

        @media (max-width: 580px) {
          .company-logo {
            margin: 0 20px;
          }
        }
      }
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-100%);
      }
    }

  }
}

.work-areas-section {
  .wrapper {
    padding-block: $size-900;

    h2 {
      margin-block: $size-600;
    }

    p.work-area-text {
      width: clamp(350px, 80vw, 700px);
      line-height: 135%;
      font-size: clamp(16px, 2vw, 18px);
      margin-bottom: $size-800;
      margin-inline: auto;
    }

    @media (max-width: 500px) {
      p.work-area-text {
        margin-bottom: $size-600;
      }
    }
  }
}

.cta-section {
  background-image: url("../../assets/abstract-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .wrapper {
    padding-block: $size-900;

    h2 {
      margin-block: $size-600 $size-700;
      max-width: 700px;
      color: $clr-neutral-100;
      line-height: 114%;
    }

    .section-label {
      text-align: left;
      color: rgba(255, 255, 255, 0.72);
    }
  }

}

.contact-section {
  .wrapper {
    padding-block: $size-900;

    .contact-box {
      display: grid;
      grid-template-columns: 1fr;
      gap: $size-500;

      .contact-form {
        h2 {
          margin-block: $size-600;
        }

        .section-label {
          text-align: left;
        }

        form {
          &>* {
            margin-bottom: $size-400;
          }

          .contact-field {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            input,
            textarea {
              padding-block: 15px 8px;
              border: none;
              border-radius: 5px;
              border-bottom: 1px solid $clr-primary-400;
              padding-inline: 12px;
              background: $clr-primary-300;
              outline: none;
              resize: vertical;
              max-height: 280px;
              font-size: 20px;
              opacity: .8;
              transition: border-left linear .1s;
            }

            input:focus,
            textarea:focus {
              border-left: 5px solid $clr-primary-400;
            }

            label {
              opacity: .72;
            }

          }

          button.submit {
            margin-block: $size-600;
          }

        }
      }

      .contact-info {
        background-image: url("../../assets/signage.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        overflow: hidden;
        height: 350px;

        .contact-details {
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(23, 25, 26, 0.00) 11.11%, rgba(0, 0, 0, 0.345) 45.85%, #000 99.85%);
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: $size-400;
          padding: 2rem 1.85rem;

          .contact-detail {
            color: $clr-neutral-100;
            display: flex;
            align-items: center;
            gap: $size-300;
          }
        }
      }
    }

  }

  iframe.map {
    position: relative;
    top: 10px;
  }

  @media (min-width: 1200px) {
    .wrapper .contact-box {
      grid-template-columns: .4fr .6fr;
    }
  }

  @media (min-width: 800px) {
    .wrapper {
      padding-right: 0;
      margin-right: 0;

      .contact-box {
        grid-template-columns: 1fr 1fr;

        .contact-info {
          border-radius: 20px 0 0 20px;
          height: 100%;

        }
      }
    }
  }
}