@import "../global";

.hero-section {
  position: relative;
  min-height: 100vh;
  background-image: url("../../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $clr-neutral-100;

  .wrapper {
    margin-inline: auto;
    padding-top: 12rem;
    text-align: center;

    * {
      margin-inline: auto;
    }

    h1 {
      background: linear-gradient(182deg, #F9FAFC 52.09%, #9F9F9F 98.31%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .hero-label {
      margin-bottom: $size-500;
      width: fit-content;
      display: flex;
      gap: $size-400;
      color: $clr-neutral-700;
      padding: .57rem 1.19rem;
      border-radius: 41px;
      backdrop-filter: blur(5.8px);
      background: $clr-neutral-800;
    }

  }

  .hero-socials {
    margin-top: 100px;
    display: flex;
    // flex-direction: column;
    gap: $size-300;

    .social-links {
      // flex-direction: column;
      display: flex;
      gap: $size-300;
    }
  }

  @media screen and (max-width: 630px) {
    .wrapper {
      h1 {
        line-height: 95%;
      }

      .hero-label {
        font-size: 0.875rem;
      }

      p {
        font-size: 1rem;
        max-width: 350px;
      }
    }
  }
}