---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import arrowIcon from '../assets/icons/arrowIcon.svg';

---

<Layout title="PactZion - A leading global trader in Ethiopia">
	<main>
		<Button 
		class="btn-primary" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-secondary btn-car" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-secondary btn-coffee" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-secondary btn-rs" 
		text="Explore Our Products" 
		/>

		<h1 style="font-family: 'Mona Sans';">Hello world</h1>
	</main>
</Layout>
