---
// Component imports
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

// Stylesheet imports
import "../styles/pages/waiting.scss";

// Asset imports
import fbIcon from "../assets/icons/fb-icon.svg";
import inIcon from "../assets/icons/in-icon.svg";
import ytIcon from "../assets/icons/yt-icon.svg";
---

<Layout title="PactZion - A leading global trader in Ethiopia">
  <Header />

  <main>
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="container wrapper">
        <div class="section-label hero-label">
          Leading global trader in Ethiopia
        </div>
        <h1 class="fs-secondary-header fw-bold">
          This page is currently under <span class="highlight"
            >construction</span
          >
        </h1>
        <p>Your Comprehensive Solution to Imports and Exports</p>
        <a href="/"><Button class="btn-primary" text="Go to Home" /></a>
      </div>

      <div class="hero-socials container">
        <ul class="social-links" role="list">
          <li>
            <a href="#" class="yt-social"
              ><img src={ytIcon.src} alt="YouTube" width="40" />
            </a>
          </li>
          <li>
            <a href="#" class="in-social"
              ><img src={inIcon.src} alt="Linkedin" width="40" />
            </a>
          </li>
          <li>
            <a href="#" class="fb-social"
              ><img src={fbIcon.src} alt="Facebook" width="40" />
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
