---
// Component imports
import "../styles/components/exportCard.scss";

const { bgImg, itemName, url, class: className } = Astro.props;

interface Props {
  bgImg: string;
  itemName: string;
  url: string;
  class?: string;
}
---

<a href={url} target="_blank">
  <li
    class:list={["export-item", className]}
    style={{ backgroundImage: `url(${bgImg})` }}
  >
    <div class="circle">
      <div class="clip-wrap">
        <h3 class="fs-tertiary-header fw-semi-bold-200">{itemName}
        <span><img src="" alt=""></span>
        </h3>
      </div>
    </div>
  </li>
</a>
