---
// Component imports
import "../styles/components/exportCard.scss";

// icon imports
import openTab from "../assets/icons/open-tab.svg";

const { bgImg, itemName, url, class: className } = Astro.props;

interface Props {
  bgImg: string;
  itemName: string;
  url: string;
  class?: string;
}
---

<li
  class:list={["export-item", className]}
  style={{ backgroundImage: `url(${bgImg})` }}
>
  <a href={url} target="_blank" class="item-link">
    <div class="circle">
      <div class="clip-wrap">
        <h3 class="fs-tertiary-header fw-semi-bold-200">
          {itemName}
        </h3>
        <span><img src={openTab.src} alt="" width="30px" /></span>
      </div>
    </div>
  </a>
</li>
