---
// Asset imports
import logo from "../assets/pactzion-logo.svg";

import "../styles/components/footer.scss";
---

<footer>
  <div class="footer-wrapper container">
    <div class="footer-content">
      <div class="footer-about col">
        <img src={logo.src} alt="PactZion Logo" height="50px" />
        <p>
          We are the top global trading company in Ethiopia, building
          connections and opportunities that go beyond borders.
        </p>
      </div>
      <div class="footer-links col">
        <p class="fw-bold">Links</p>
        <ul role="list" class="footer-links-list">
          <li class="footer-link"><a href="/waiting">Home</a></li>
          <li class="footer-link"><a href="/waiting">About</a></li>
          <li class="footer-link"><a href="/waiting">Contact</a></li>
        </ul>
      </div>
      <div class="footer-links col">
        <p class="fw-bold">Products</p>
        <ul role="list" class="footer-links-list">
          <li class="footer-link"><a href="/waiting">Imports</a></li>
          <li class="footer-link"><a href="/waiting">Exports</a></li>
        </ul>
      </div>
      <div class="footer-contact col">
        <p class="fw-bold">Contact</p>
        <div class="footer-contact-info">
          <p>info@pactzion.com</p>
          <p>+251912345678</p>
          <p>Bloom Tower, ECA Road, Addis Ababa, Ethiopia</p>
          <div class="footer-socials">
            <a href="#">
              <img src="" alt="" />
            </a>
            <a href="#">
              <img src="" alt="" />
            </a>
            <a href="#">
              <img src="" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center copyright">
      © 2024 PactZion All Rights Reserved
    </p>
  </div>
</footer>
