---
// Component imports
import Button from "../components/Button.astro";

// Asset imports
import logo from "../assets/pactzion-logo.svg";

import "../styles/components/header.scss";
---

<header>
  <div class="header-wrapper container">
    <a href="/"
      ><svg class="logo"
        xmlns="http://www.w3.org/2000/svg"
        width="130"
        height="31"
        fill="none"
      >
        <path
          fill="#D59940"
          d="M39.693 23.5h-4.017V7.773h4.48c1.754 0 2.986.086 3.695.258.709.172 1.31.466 1.804.881.58.48 1.02 1.081 1.322 1.805.308.716.462 1.514.462 2.395 0 .938-.15 1.766-.452 2.482a4.32 4.32 0 0 1-1.332 1.75c-.444.345-.967.591-1.568.742-.602.15-1.565.226-2.89.226h-1.504V23.5Zm0-8.648h.817c1.031 0 1.75-.14 2.159-.418.408-.287.612-.77.612-1.45 0-.66-.2-1.129-.601-1.408-.401-.28-1.11-.419-2.127-.419h-.86v3.695Zm17.542 3.212c0-.845-.225-1.514-.676-2.008-.452-.495-1.067-.742-1.848-.742-.78 0-1.396.248-1.848.742-.444.487-.666 1.156-.666 2.008 0 .846.226 1.512.677 1.998.451.487 1.063.731 1.837.731.78 0 1.396-.244 1.848-.73.45-.487.676-1.153.676-1.998Zm3.363-5.414V23.5h-3.513v-1.762c-.501.752-1.067 1.304-1.697 1.655-.623.35-1.357.526-2.203.526-1.446 0-2.603-.526-3.47-1.58-.866-1.06-1.299-2.477-1.299-4.253 0-1.769.451-3.173 1.354-4.211.909-1.046 2.13-1.568 3.663-1.568.816 0 1.518.175 2.105.526.595.344 1.103.877 1.526 1.6V12.65h3.534Zm10.677 3.567c-.372-.33-.73-.57-1.074-.72a2.678 2.678 0 0 0-1.085-.226c-.759 0-1.364.251-1.815.752-.444.502-.666 1.182-.666 2.041 0 .831.233 1.494.698 1.988.466.494 1.092.741 1.88.741a2.63 2.63 0 0 0 1.085-.226c.344-.157.67-.397.977-.72v3.32a5.89 5.89 0 0 1-1.375.57 5.497 5.497 0 0 1-1.418.182c-1.668 0-3.022-.534-4.06-1.6-1.031-1.075-1.547-2.486-1.547-4.233 0-1.697.526-3.083 1.58-4.157 1.059-1.082 2.416-1.622 4.07-1.622.552 0 1.05.053 1.494.16.444.108.862.28 1.256.516v3.234ZM74.22 23.5v-8.143h-1.622V12.65h1.622V9.417h3.77v3.233h1.622v2.707H77.99V23.5h-3.77Zm19.722 0h-13.9l7.939-12.321h-6.37V7.773h13.234l-7.917 12.3h7.014V23.5Zm2.267-14.233c0-.58.204-1.075.612-1.483a2.055 2.055 0 0 1 1.494-.612c.601 0 1.102.2 1.503.601.409.401.613.9.613 1.494s-.208 1.099-.623 1.514a2.014 2.014 0 0 1-1.493.623c-.573 0-1.068-.211-1.483-.633a2.072 2.072 0 0 1-.623-1.504Zm.193 14.233V12.65h3.835V23.5h-3.835Zm14.47-5.393c0-.809-.204-1.446-.612-1.912-.408-.465-.96-.698-1.655-.698-.701 0-1.256.233-1.665.698-.401.466-.601 1.103-.601 1.912 0 .81.2 1.447.601 1.913.401.458.957.687 1.665.687.702 0 1.254-.23 1.655-.688.408-.465.612-1.102.612-1.912Zm3.803 0c0 .781-.154 1.522-.462 2.224a5.764 5.764 0 0 1-1.321 1.89 6.06 6.06 0 0 1-1.977 1.268 6.215 6.215 0 0 1-2.31.43c-.83 0-1.611-.143-2.341-.43a5.846 5.846 0 0 1-1.945-1.267 5.603 5.603 0 0 1-1.31-1.87 5.685 5.685 0 0 1-.451-2.245c0-.794.146-1.543.44-2.245a5.764 5.764 0 0 1 1.321-1.89 5.68 5.68 0 0 1 1.934-1.246 6.53 6.53 0 0 1 2.352-.42c.838 0 1.619.14 2.342.42.724.279 1.372.694 1.945 1.246a5.809 5.809 0 0 1 1.332 1.901c.3.702.451 1.447.451 2.234Zm2.202 5.393V12.65h3.502v2.202c.508-.88 1.096-1.525 1.762-1.933.666-.408 1.464-.612 2.395-.612.702 0 1.325.114 1.869.343.552.222.999.545 1.343.967.287.365.491.81.612 1.332.122.523.183 1.304.183 2.342V23.5h-3.835v-5.811c0-.867-.143-1.497-.43-1.891-.279-.394-.73-.591-1.353-.591-.795 0-1.375.294-1.74.88-.366.588-.548 1.54-.548 2.858V23.5h-3.76ZM24.629 4.531l-.267-.286L20.409 0h-5.689v4.427h-4.438V0H5.048L0 4.93v21.288L4.896 31H20.06L25 26.176V4.93l-.373-.399h.002ZM19.14 6.275v7.544H5.864V6.275H19.14Zm0 18.452H5.864v-7.544H19.14v7.544Z"
        ></path>
      </svg></a
    >

    <div class="nav-menu">
      <nav>
        <ul role="list" class="nav-links">
          <li class="nav-link" style="--i: 0">
            <a href="/waiting" data-page="">Home</a>
          </li>
          <li class="nav-link" style="--i: 2">
            <a href="/waiting" data-page="about">About</a>
          </li>
          <li class="nav-link" style="--i: 1">
            <a href="/waiting" data-page="contact">Contact</a>
          </li>
          <li class="nav-link" style="--i: 3">
            <a href="/waiting" data-page="products">Products</a>
          </li>
        </ul>
      </nav>
      <Button text="Get in touch" class="nav-button | btn-tertiary btn-white" />
    </div>

    <button class="nav-toggler">
      <span></span>
    </button>
  </div>
</header>

<script src="../scripts/main.js"></script>
