---
// Component imports
import Button from "../components/Button.astro";

// Asset imports
import logo from "../assets/pactzion-logo.svg";

import "../styles/components/header.scss";
---

<header>
  <div class="header-wrapper container">
    <a href="/"><img class="logo" src={logo.src} alt="PactZion logo" /></a>

    <div class="nav-menu">
      <nav>
        <ul role="list" class="nav-links">
          <li class="nav-link" style="--i: 0">
            <a href="/waiting" data-page="">Home</a>
          </li>
          <li class="nav-link" style="--i: 2">
            <a href="/waiting" data-page="about">About</a>
          </li>
          <li class="nav-link" style="--i: 1">
            <a href="/waiting" data-page="contact">Contact</a>
          </li>
          <li class="nav-link" style="--i: 3">
            <a href="/waiting" data-page="products">Products</a>
          </li>
        </ul>
      </nav>
      <Button text="Get in touch" class="nav-button | btn-tertiary btn-white" />
    </div>

    <button class="nav-toggler">
      <span></span>
    </button>
  </div>
</header>

<script src="../scripts/main.js"></script>
